@use "../base/typography";

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.5rem;
}
input[type="text"] {
  width: 100%;
  border-radius: 15px;
  height: 60px;
  background-color: var(--task-bg);
  padding: 1rem;
  font-size: max(16px, 1rem);
  font-family: var(--primary-font);
}
textarea {
  width: 100%;
  border-radius: 15px;
  min-height: 150px;
  background-color: var(--task-bg);
  font-family: var(--primary-font);
  font-size: max(16px, 1rem);
  outline: none;
  overflow: auto;
  resize: none;
  padding: 1rem;

  max-height: 50vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  display: flex;

  justify-content: center;
  align-items: center;
}
.dialog {
  /*   padding: 4rem; */
  background-color: var(--bg-secondary-color);
  position: relative;
  width: 100%;
  height: max-content;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
}
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.modal-title {
  align-self: center;
  margin: 0 auto;
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--heading-text-color);
  font-size: 1.5rem;
}
label {
  color: var(--heading-text-color);
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
}
.hidden {
  visibility: hidden;
}
.empty {
  width: 2rem;
}
.go-back-icon {
  width: 2rem;
}
