@use "../base/typography";

.add-new-task {
  border: none;

  border-radius: 33px;
  padding: 1rem;
  width: 250px;
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--secodary-text-color);
  font-weight: 600;
}

.add-task-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: var(--bg-main-color);
  margin: 0 auto;
}
