@use "../base/typography";
input[type="checkbox"] {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("/assets/checkbox.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
input[type="checkbox"]:checked {
  background-image: url("/assets/checkbox-checked.svg");
  background-repeat: no-repeat;
}

.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem 1rem;
  background-color: var(--task-bg);
  border-radius: 25px;
  margin: 1rem;
  align-items: flex-start;
  .checkbox-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .task-title {
    font-family: var(--primary-font);
    color: var(--task-text-color);
    font-weight: 500;
    font-size: 1rem;
  }
  .description {
    font-family: var(--primary-font);
    color: var(--task-text-color);
    width: 25ch;

    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  .remove-icon {
    width: 2.5rem;
  }
}
@media screen and (min-width: 400px) {
  .task-card .description {
    width: 30ch;
  }
}

@media screen and (min-width: 500px) {
  .task-card .description {
    width: 40ch;
  }
}
@media screen and (min-width: 600px) {
  .task-card .description {
    width: 50ch;
  }
}
