@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --bg-main-color: #f6f6f6;
  --bg-secondary-color: #004f54;
  --task-bg: #e5edee;
  --task-text-color: black;
  --heading-text-color: #f6f6f6;
  --secodary-text-color: #004f54;
  --primary-font: "Poppins", sans-serif;
}
